@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nunito:wght@1000&family=Oswald:wght@500;600&display=swap');

h1 {
    text-align: center;
    padding: 35px;
    background: #FF0076;
    border-radius: 10px;
    margin-bottom: -5px;
    font-family: 'Kanit', sans-serif;
    
}